body {
    margin: 0;
    height: 100vh;
    /* Ensure full viewport height for background */
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://wallpapercave.com/download/black-nature-4k-wallpapers-wp9528517");
    background-size: cover;
    /* Background color for the entire page */
}

.calenderbase {
    background-color: rgba(251, 206, 206, 0.244);
    height: 600px;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.but1 {
    float: right;
    background-color: transparent;
    border: none;
    background-image: url("up.png");
    background-size: cover;
    width: 30px;
    height: 30px;
    position: absolute;
    transform: translate(40px, -250px);
}

.but2 {
    float: right;
    background-color: transparent;
    border: none;
    background-image: url("down.png");
    background-size: cover;
    width: 30px;
    height: 30px;
    position: absolute;
    transform: translate(40px, -220px);
}

input {
    margin-top: 1%;
    margin-right: 1%;
    width: 15%;
    height: 80%;
    float: left;
    font-size: 45px;
    font-family: sans-serif;
    font-weight: 700;
    text-align: left;
    background-color: rgba(40, 39, 39, 0);
    border: none;
}

input:nth-child(2) {
    width: 40%;
}

.bar {
    background-color: rgba(17, 17, 17, 0.171);
    height: 15%;
    width: 93%;
    border-radius: 10px;
    margin: 10px;
}

.elementcontainer {
    /* background-color: rgba(243, 169, 169, 0.451); */
    margin: 10px;
    height: 74%;
    width: 93%;
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto auto auto;
}

div {
    text-align: center;
    font-size: larger;
    font-weight: 700;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.dates {
    background-color: rgba(0, 0, 0, 0);
    width: 90px;
    margin: 1px;
    height: 50px;
    padding-top: 10%;
}

.day {
    background-color: rgba(45, 255, 175, 0);
    width: 90px;
    margin: 1px;
    height: 50px;
    border-radius: 10%;
    color: rgb(1, 52, 162);
}

.dates:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.291);
    color: rgb(255, 255, 255);
    ;
}